{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <main>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <h1>My Profile</h1>

        {{ include('user/_form.html.twig', {'button_label': 'update'}) }}

        <div class="bottom-buttons">
            <a href="{{ path('app_logout') }}">log out</a>
            {{ include('user/_delete_form.html.twig') }}
        </div>

    </main>
{% endblock %}

{% block stylesheets %}
    <style>
        .bottom-buttons {
            display: flex;
            flex-direction: column;
            gap: 16px;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        }
    </style>
{% endblock %}
