{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <main>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <h1>My Profile</h1>

        {{ include('user/_form.html.twig', {'button_label': 'update'}) }}

        <div class="bottom-buttons">
            <a href="{{ path('app_logout') }}">log out</a>
            {{ include('user/_delete_form.html.twig') }}
        </div>

    </main>
{% endblock %}
{% block stylesheets %}
    <style>
        .bottom-buttons {
            display: flex;
            flex-direction: column;
            gap: 16px;
            align-items: center;
            justify-content: center;
            margin-top: 16px;
            width: 100%;
            max-width: 320px;
            margin-left: auto;
            margin-right: auto;
        }

        .bottom-buttons a,
        .bottom-buttons .btn {
            display: block;
            width: 100%;
            text-align: center;
            box-sizing: border-box;
        }

        .bottom-buttons form {
            width: 100%;
        }

        .custom-form {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            min-width: 320px;
        }
    </style>
{% endblock %}
