{% extends 'base.html.twig' %}

{% block title %}Computer index{% endblock %}

{% block body %}
    <h1>Computer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Ram</th>
                <th>Storage</th>
                <th>ProductCondition</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for computer in computers %}
            <tr>
                <td>
                    {% if computer.imagePaths is not empty %}
                        <img src="{{ asset('uploads/products/' ~ computer.imagePaths|first) }}" alt="Computer Thumbnail" width="50" height="50">
                    {% else %}
                        No Image
                    {% endif %}
                </td>
                <td>{{ computer.id }}</td>
                <td>{{ computer.brand }}</td>
                <td>{{ computer.model }}</td>
                <td>{{ computer.ram }}</td>
                <td>{{ computer.storage }}</td>
                <td>{{ computer.productCondition }}</td>

                <td>
                    <a href="{{ path('app_computer_show', {'id': computer.id}) }}">show</a>
                    {% if phone.user == app.user %}
                        <a href="{{ path('app_product_edit', {'id': computer.id}) }}">edit</a>
                    {% endif %}
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user %}
        <a href="{{ path('app_product_new_type', {'type': 'computer'}) }}">Create new</a>
    {% endif %}
{% endblock %}
