{% extends 'base.html.twig' %}

{% block title %}Car index{% endblock %}

{% block body %}
    <h1>Car index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Year</th>
                <th>Volume (l)</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Run(km)</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td>
                    {% if car.imagePaths is not empty %}
                        <img src="{{ asset('uploads/products/' ~ car.imagePaths|first) }}" alt="Car Thumbnail" width="50" height="50">
                    {% else %}
                        No Image
                    {% endif %}
                </td>
                <td>{{ car.title }}</td>
                <td>{{ car.description }}</td>
                <td>{{ car.year }}</td>
                <td>{{ car.volume|number_format(1, '.', '') }}</td>
                <td>{{ car.brand }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.run }}</td>
                <td>{{ car.price }}</td>
                <td>
                    <a href="{{ path('app_car_show', {'id': car.id}) }}">show</a>
                    <a href="{{ path('app_car_edit', {'id': car.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user %}
    <a href="{{ path('app_product_new_type', {'type': 'car'}) }}">Create new</a>
    {% endif %}
{% endblock %}
