{% extends 'product/base_product_show.html.twig' %}

{% block extra_details %}
    <tr>
        <th>Year</th>
        <td>{{ product.year }}</td>
    </tr>
    <tr>
        <th>Volume</th>
        <td>{{ product.volume }}</td>
    </tr>
    <tr>
        <th>Brand</th>
        <td>{{ product.brand }}</td>
    </tr>
    <tr>
        <th>Model</th>
        <td>{{ product.model }}</td>
    </tr>
    <tr>
        <th>Run</th>
        <td>{{ product.run }}</td>
    </tr>
{% endblock %}
